.hidden {
  display: none;
}

/* ---------------------Global styles-------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------Common------------------ */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* -----------------HEADER--------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contact-info {
  display: none;
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

.nav-logo-part {
  color: #2e2f42;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-logo {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .contact-info {
    font-style: normal;
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-current {
    color: #404bbf;
    position: relative;
  }

  .nav-link-current::after {
    display: block;
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    bottom: -1px;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contact-info-link:hover,
  .contact-info-link:focus {
    color: #404bbf;
  }

  .contact-info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .contact-info-link {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-logo {
    margin-right: 76px;
  }

  .contact-info-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-info-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* -----------------Mobile Menu--------------------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 100%;
  border: 1px solid #e7e9fc;
  background-color: transparent;
  fill: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.mobile-menu-button-icon {
  fill: #2e2f42;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-nav-link-current {
  color: #404bbf;
}

.mobile-menu-address {
  font-style: normal;
  display: block;
  margin-bottom: 48px;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-address-link-current {
  color: #404bbf;
}

.mobile-menu-soc-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.mobile-menu-soc-icons-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-soc-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ------------------Hero--------------------- */

.hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-people-office.jpg);
  height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 320px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 216px;
  margin: 0 auto 72px;
}

.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: block;
  margin: 0 auto;
  border: none;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab-people-office.jpg);
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07143;
    width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office_1.jpg);
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 48px;
  }

  .hero-button {
    cursor: pointer;
    transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
  }
}

/* -----------Advantages----------------- */

.advantages-item-icon {
  display: none;
}

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-item-icon-wrap {
    display: flex;
    padding: 24px 100px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    height: 112px;
  }

  .advantages-item-icon {
    display: block;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
  }
}

/* -----------------------Team-------------------- */

.team {
  background: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  display: block;
}

.team > .team-container {
  padding-left: 28px;
  padding-right: 28px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-member {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container-caption {
  padding: 32px 16px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-soc-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-soc-icon-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
  width: 100%;
  height: 100%;
}

.team-soc-icon-item .team-soc-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  /* .team-member {
    width: calc((100% - 24px) / 2);
  } */
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-member {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-member:hover,
  .team-member:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .team-container-caption {
    padding: 32px 0;
  }

  .team-soc-link {
    transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: #404bbf;
  }
}

/* -------------Portfolio----------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 288px;
  height: 400px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-hidden-text {
  display: none;
}

.portfolio-image {
  width: 100%;
  height: 280px;
}

.portfolio-container-caption {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 100%;
  height: 120px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: 360px;
    height: 420px;
    transition: box-shadow 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-image {
    width: 360px;
    height: 300px;
  }

  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }

  .portfolio-hidden-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .portfolio-hidden-text {
    transform: translateY(0);
  }
}

/* --------------------Footer----------------------- */

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  text-align: center;
}

.footer-logo,
.footer-logo-part {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  text-align: left;
}

.footer-soc {
  display: flex;
  flex-direction: column;
}

.footer-soc-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-soc-icons-item {
  width: 40px;
  height: 40px;
}
.footer-soc-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px;
  width: 100%;
  height: 100%;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

.footer-subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.6;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  margin: 0 auto;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.footer-subscribe-button-icon {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer > .footer-container {
    padding-left: 108px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: flex-start;
    text-align: left;
  }

  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-wrapper {
    margin-right: 120px;
  }

  .footer > .footer-container {
    padding-left: 16px;
  }

  .footer-soc {
    margin-right: 80px;
  }

  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    align-items: baseline;
  }

  .footer-soc-icons-link {
    transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-soc-icons-link:hover,
  .footer-soc-icons-link:focus {
    background-color: #31d0aa;
  }
}

/* --------------------Backdrop--------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.modal-check-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-check-label-icon {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;

  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked
  + .modal-check-label
  .modal-check-label-icon {
  border-radius: 2px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-check-label-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;

  font-size: 12px;
  letter-spacing: 0.04em;

  /* margin-left: 4px; */
}

.modal-button {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  display: block;
  margin: 0 auto;

  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;

  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .modal-window-close:hover,
  .modal-window-close:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-window-close:hover .modal-window-close-icon,
  .modal-window-close:focus .modal-window-close-icon {
    fill: #fff;
  }
}
